.box-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50vh;
  max-width: fit-content;
}

.box-row {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
}

.box-table-buttons {
  margin: 0 1em;
  position: relative;
  display: flex;
  height: min-content;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
}

.box-table-buttons :last-child {
  margin-left: auto;
}

.box-table-buttons:last-child {
  position: absolute;
  right: 5px;
  background-color: red;
}

.cell {
  display: flex;
  flex-direction: row;
  margin: .2em 1em;
}

.cell>* {
  display: flex;
  padding: .5em .5em .5em 1em;
  flex: 2 0 auto;
}

.label,
label,
dt {
  max-width: 8em;
  min-width: 8em;
  text-overflow: ellipsis;
  border: 1px solid black;
  background-color: #a88b6c;
  flex: 1;
}

table {
  width: calc(100% - 2em);
  margin: 1em;
  flex: 1 0 auto;
  border-spacing: 0;
}

th {
  text-align: start;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

h1,
h2,
h3 {
  padding: .5em;
}

td,
th {
  padding: .5em;
}

td:last-child,
th:last-child {
  max-width: 2em;
  justify-content: end;
}

tr:nth-child(even) {
  background-color: #dfd9d3;
}

tr:last-child>td {
  border-bottom: 1px solid black;
}

button,
input[type=button] {
  font-size: 12pt;
  padding: .5em;
  background-color: #a88b6c;
  border: 1px solid black;
  max-width: fit-content;
  max-height: fit-content;
}

.cell>select,
.cell>input {
  border: 1px solid black;
  border-left: none;
  background-color: white;
}

.dynamic {
  background-color: #272936;
}

#newCustomer {
  margin-left: auto;
}

.search-container {
  display: none;
}

.search-container img {
  width: 30px;
  border: 1px solid;
  padding-left: 5px;
  border-left: transparent;
  padding-right: 5px;
  background: #a88b6c;
}

.search-container input {
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background: #ececec;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  max-width: 1400px;
}

.box-row.buttons {
  max-width: 750px;
  justify-content: space-evenly;
  margin-top: 2em;
}

dd {
  margin-left: 10px;
}